
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Artist Management</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li ><a href="/add-artist">Add Artist</a></li>
        <li ><a href="/help">Help</a></li>
        <li class="active"><a href="/information">Information</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li ><a href="/error-handle">Error Handling</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="bg app-font">
      <div class="container app-font">
         <div class="row">
          <div class="col-lg-12 col-sm-12 col-md-12"> 
            <h1 class="text-info">   Information</h1>
            
              <p>
             
                This app is created for artists and their artworks. All  artists can save their data in our database and can update and view it as and when they want. Your privacy is our commitment and never shared with anyone. Have a nice day. 
            </p>
            
          </div>
         </div>
        </div>
        
  </div>