/* You can add global styles to this file, and also import other style files */
.bg{
    background: aliceblue;
    min-height: 100vh;
    height: 100%;
}
.app-font{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.ng-message{
    color: red;
    margin: 5px;
}
.navbar-inverse{
    margin-bottom: 0px;
    border-radius: 0px;
}